.contact-page {
  background: #f8f6f2;

  padding-bottom: 200px;

  .header {
    height: 250px;
    background: linear-gradient(
      0deg,
      rgba(18, 20, 52, 0.43),
      rgba(18, 20, 52, 0.43)
    );

    background-image: url("../../Assets/Headers/Contact.png");

    position: relative;
    margin-bottom: 70px;
  }

  .header-text {
    font-family: "Reem Kufi";
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 76px;

    color: #ffffff;

    position: absolute;
    bottom: 25px;
    left: 93px;
    text-transform: uppercase;
  }
}
