.home-page {
  a {
    text-decoration: none !important;
  }
  a:hover {
    color: #b89432;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 32px;
    gap: 10px;

    // width: 274px;
    height: 68px;
    border: none;

    /* secondary */

    background: #b89432;
    border-radius: 8px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: #ffffff;
  }
  .btn:hover {
    border: 1px solid #b89432;
  }
  .slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
  }

  background-color: #fff5f5;

  .whatwedo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 64px 80px;
    padding-bottom: 80px;
    .btn {
      margin-top: 30px !important;
    }
    .photos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 64px;
      // margin: auto;
      img {
        width: 390px;
      }
      .wwd1 > p,
      .wwd2 > p,
      .wwd3 > p {
        color: white;
        // position: relative;
        margin-top: 180px;
        font-size: 25px !important;
      }

      .wwd1,
      .wwd2,
      .wwd3 {
        // flex: 1 1 auto;
        width: 350px;
        height: 270px;
        border-radius: 32px;
        cursor: pointer;
        transition: ease-in 100ms;
      }
      .wwd1:hover,
      .wwd2:hover,
      .wwd3:hover {
        transform: scale(1.05);
        animation-duration: 1000ms;
        box-shadow: 6px 7px 35px 3px rgba(0, 0, 0, 0.5);

        p {
          filter: blur(0px);
          font-weight: 600;
        }
      }

      .wwd1 {
        background-image: url("../../Assets/Home/wwd1.png");
      }
      .wwd2 {
        background-image: url("../../Assets/Home/wwd2.png");
      }
      .wwd3 {
        background-image: url("../../Assets/Home/wwd3.png");
      }
    }
  }

  .ourservices {
    background-color: white;
    display: flex;
    padding: 64px 160px;
    gap: 48px;
    justify-content: space-between;
    p,
    h1 {
      text-align: left;
    }
    a {
      text-decoration: none !important;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .strip {
    height: 240px;
    background-color: #b89432;
  }
  .head-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #121434;
    /* identical to box height */

    text-align: center;

    /* Primary */

    color: #121434;
  }
  .body-text {
    /* Body L */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    // font-size: 32px;
    font-size: 25px;

    text-align: center;

    /* grey text */

    color: #545454;
  }
  .hero {
    background-image: url("../../Assets/Hero.png");
    height: 900px;
    position: relative;
    background-position: center;

    .cta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 17px 32px;
      gap: 10px;

      width: 274px;
      height: 68px;
      border: none;

      /* secondary */

      background: #b89432;
      border-radius: 8px;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;

      color: #ffffff;
    }

    .content {
      position: absolute;
      top: 53px;
      left: 82px;
      width: 596px;
      .hero-text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;

        color: #121434;
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        //   line-height: 33px;
        /* or 132% */

        color: #363636;
      }
      a {
        text-decoration: none;
      }
    }
  }

  .hero-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    //   line-height: 73px;

    color: #121434;
  }
  .clients {
    padding-top: 80px;
    padding-bottom: 80px;
    .content {
      width: 80%;
      margin: auto;
    }
    background-color: white;

    .hero-text {
      text-align: center;
      margin-bottom: 80px;
    }
    .clients-pics {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
    }
  }
  .spline {
    height: 1000px;
    width: 1000px;
  }

  .contact-home {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 85%;
    margin: auto;

    .content {
      // width: 80%;
      // margin: auto;
      display: flex;
      justify-content: space-between;
    }
    .cont {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .location {
        display: flex;
        padding: 69px 47px;
        gap: 48px;
        width: auto;
        background: #101338;
        // box-shadow: 6px 7px 35px 3px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: ease-in 100ms;
        border-radius: 20px;
        flex: none;

        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          color: #ffffff;
        }
      }
      .horiz {
        display: flex;
        justify-content: space-between;
        .mail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 30px 48px;
          gap: 26px;
          width: auto;

          background: #101338;
          // box-shadow: 6px 7px 35px 3px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
          }
        }
        .whatsapp {
          img {
            height: 200px;
          }
          padding: 10px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 287px;
          height: 285px;

          background: #1bd741;
          // box-shadow: 6px 7px 35px 3px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          transition: ease-in 100ms;
          border-radius: 20px;
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            line-height: 26px;

            color: #ffffff;
          }
        }
      }
    }
    .location:hover,
    .mail:hover,
    .whatsapp:hover {
      transform: scale(1.05);
      animation-duration: 1000ms;
      box-shadow: 6px 7px 35px 3px rgba(0, 0, 0, 0.5);

      p {
        filter: blur(0px);
        font-weight: 600;
      }
    }
    .hero-text {
      text-align: center;
      margin-bottom: 32px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .home-page {
    .btn {
      font-size: 24px;
    }
    .body-text {
      width: 100% !important;
      font-size: 20px;
    }
    .head-text {
      font-size: 48px;
    }
    .hero {
      height: 700px;
      .hero-text {
        font-size: 40px;
        width: 60%;
        line-height: 45px;
      }
      p {
        font-size: 20px;
        width: 60%;
      }
    }

    .whatwedo {
      padding: 64px 10px;
      .photos {
        // width: 90%;
        flex-direction: column;
        // display: none;
        align-items: center;
        .wwd1,
        .wwd2,
        .wwd3 {
          width: 340px;
        }
      }
    }

    .ourservices {
      background-color: white;
      flex-direction: column;
      align-items: center;
      padding: 64px 10px;
      img {
        width: 100%;
      }
      .btn {
        align-self: center !important;
      }
      h1,
      p {
        text-align: center;
      }
      .left {
        align-items: center;
      }
      // p {
      //   font-size: 20px !important;
      // }
    }
    .contact-home {
      width: 95%;
      .content {
        .horiz {
          flex-direction: column;
          align-items: center;
          gap: 24px;
        }
        flex-direction: column;
        align-items: center;
        gap: 40px;
        .location {
          flex-direction: column;
          align-items: center;
          padding: 24px 24px;
          width: 90vw;
          img {
            width: 96px;
          }
        }
        .map {
          iframe {
            width: 90vw;
          }
          // margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .header {
    background-position: -250px 0px !important;
  }

  .header-text {
    // left: 0px !important;
    position: unset !important;
    padding-top: 150px;
    text-align: center !important;
  }

  .home-page {
    .hero {
      height: 600px;
      background-position: 2450px -50px;
      .content {
        gap: 24px;
        padding-top: 50px;
        left: 20px;
        width: 80%;
        margin: auto;
        top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .hero-text {
          width: 100%;
          font-size: 35px;
          line-height: 35px;
          text-align: center;
        }

        p {
          font-size: 16px;
        }
      }
      p {
        width: 100%;
      }
    }
    .hero-text {
      width: 100%;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
    }
  }
  .swiper {
    display: none;
  }
}
